*DS_Store*
app/persist.rb
app/amir.rb
app/grot_debug_side.rb
app/main-array-size-test.rb
app/main-patterns-working.rb
app/main-main.rb
app/main-patterns.rb
app/main-working.rb
app/main-launch.rb
app/mailbox.rb
app/repl.rb
app/mailbox-processed/mailbox-28515.rb
app/autocomplete.txt
